/* Deirdre McCray_Style sheet for Module02 assigment*/

/*head*/


/* Body*/
body {
    
    color: black;
  
}


/*Article*/
article {
    background-color:white;
    background-image: url("../images/WidgetCoLogo.gif");
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 500px;
  

    text-align: justify;
    margin-left: 4rem;
    margin-right: 4rem;
   

}

/* Section */
section {
    margin: 15px 0;
    padding: 10px 20px;
    background-color:rgb(247, 247, 210);
    border-top:  5px solid rgb(214, 164, 223);
    border-bottom: 5px solid rgb(214, 164, 223);
    border-left: 30px solid rgb(214, 164, 223);
    border-right: 5px solid rgb(214, 164, 223);
}

/*header */
header {
    text-align: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid rgb(114, 112, 112);
    border-right: 10px solid rgb(178, 61, 228);
    padding: 2px 200px;
    font-variant: small-caps;


}

/*aside*/
aside {

    text-align: right; 
    border-right: 10px solid rgb(178, 61, 228);
    padding-right: 10px;
    

}


/*aside first line*/
aside {
    float: right;
    width: 200px;
    text-align: right;
    border-right: 10px solid rgb(178, 61, 228);
    padding-right: 10px;
    margin-left: 20px;
}


/*h1*/
h1 {
    text-align: left;
    width: 520px;
    margin-top: 0;
    display: inline-block;

}

/*h2*/
h2 {
    text-align: center;
    font-style: italic;
    padding-top: 40px;
  
}



/*footer*/
footer {
    border-top: 3px solid rgb(204, 200, 200);
    text-align: right;
    font-style: italic;
     color: rgb(189, 188, 188)
}

footer a,
footer a:visited {
    color: rgb(189, 188, 188)
    ;
}